.component{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

button{
    width: unset;
    border-radius: 2rem;
    padding: 1rem;
    text-align: center;
    outline: none;
    border: none;
}
button:hover {
    transform: translateY(-3px);
    box-shadow: 2px 3px 3px rgb(197, 167, 226);
  }
button:active {
    transform: translateY(-1px);
    box-shadow: 2px 3px 3px rgb(200, 168, 230);
}

/* -------------------------------------------------------------------------------------------------------------- */
.log-continer{
    display: flex;
    justify-content: space-between;
}
@media(max-width:417px){
    .log-continer{
        display: flex;
        flex-direction: column;
    }
}
.loginform{
    width: 55%;
    background-color: #747af4;
    border-radius: 1.4rem;
}
@media(max-width:417px){
    .loginform{
        width: 100%;
    }
}
.other-method{
    width: 45%;
    padding: 20px; 
     
}
@media(max-width:417px){
    .other-method{
        width: 100%;
    }
}
form{
    
    padding: 3rem;
}
form h1{
    text-align: left;
    font-weight: 400;
    font-size: 20PX;
}
.division{
    margin-bottom: 1.5rem;
}
h1{
    text-align: center;
    font-size: 3rem;
    color: #000;
}
p{
    color: #000;
    font-size: 1.5rem;
}
label{
    font-size: 1.4rem;
    color: #000;
}
label .loging{
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(128, 29, 219);
    background-color: rgb(200, 168, 230);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
}
.online{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;
}
.signbottom{
    display: flex;
    justify-content:left;
    flex-direction: column;
    gap: 2rem;
    margin-top: 5rem;
}
.signbottom p{
 text-align: left;
}
span{
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
}
#feb{
    width: 70px;
    height: 40px;
}
#twi{
    width: 45px;
    height: 40px;
    border-radius: 50%;
    
}
.pick{
    border: 1px solid rgb(46, 53, 65);
    width: 100%;
    text-align:center;
    border-radius: 5px;
    padding: 0.7px 5px;
}
