*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body ::-webkit-scrollbar{
  display: none;
  overflow-x: hidden;
}
body {

  font-family: Georgia, "Times New Roman", Times, serif;
  color: #222;
  font-weight: 400;
  position: relative;
}
nav {
  background-color: rgb(82, 85, 87);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 10rem;
  width: 100%;
  z-index: 9999;
  top: 0;
  scroll-behavior: smooth;
  position: fixed;
  box-shadow: 4px 4px 4px rgba(248, 248, 250, 0.116);
}
.subNav{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.combine-log{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.navrespone{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: left;
  gap: 20px;
  position: absolute;
  width: 80%;
  height: auto;
}
@media(max-width:400px){
  .navrespone{
    width: 100%; 
  }
}
.navlinks{
  display: flex;
}
@media(max-width:1115px){
  nav {
    padding: 2rem; 
  }
}
.logo {
  font-size: 2.8rem;
  display: flex;
  
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  background-image: linear-gradient(to right, black, aqua,white);
  color: transparent;
  -webkit-background-clip: text;
  transition: all 0.3s;
  cursor: pointer;
}
@media(max-width:254px){
  .logo {
   font-size: 2rem;
}
}
.logo:hover {
  transform: translate(3px, -3px);
}
.logo .head-logo{
     width: 50px;
     height: 50px;
}
@media(max-width:254px){
  .logo .head-logo{
    width: 35px;
    height: 35px;
}
}
.link{
  display: flex;
  align-items: center;
  gap: 2rem;
  
}
.links{
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style-type: none

}
.navlinks{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  list-style-type: none;
}
.menu{
   color: #fff;
   font-size: 4rem;
}
@media(max-width:254px){
  .menu{
    color: #fff;
    font-size: 2rem;
 }
}
.respo{
  display: none;
}
.nav-links {
  gap: 2rem;
  width: 100px;
}
@media(max-width:916px){
  .links {
    display: none;
  }
  .respo{
    display: block;
  }
}
.nav-links:link,
.nav-links:visited {
  color: aqua;
  transition: all 03s;
  font-weight: 500;
  font-size: 1.8rem;
  text-decoration: none;
}
.nav-links:hover,
.nav-links:active {
  border-bottom: 2px solid #fff;
  color: #fff;
  
}
.btn-green {
  background-color: white;
  color: #747af4;
}

.btn:link,
.btn:visited {
  padding: 1rem 3rem;
  border-radius: 0.8rem;
  transition: all 0.3rem;
  color: #747af4;
}
@media(max-width:320px){
  .btn:link,
 .btn:visited {
  padding: 0.3rem 1rem;
  border-radius: 0.4rem;
  transition: all 0.3rem;
  color: #747af4;
}
}
@media(max-width:271px){
  .btn:link,
 .btn:visited {
  display: none;
}
}
.btn:hover,
.btn:active {
  background-color: rgb(83, 80, 87);
  color: #747af4;
  border-bottom: none;
}
.home-container {
  background-image: url("https://images.pexels.com/photos/303383/pexels-photo-303383.jpeg?");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  object-fit: cover;
  background-attachment: fixed;
  position: relative;
}
.home {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between !important;
  align-items: center;
}
@media(max-width:891px){
  .home {
    display: flex;
    justify-content: center !important;
  align-items: center;
  gap: 4rem;
  }
}
@media(max-width:748px){
  .home {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center !important;
  align-items: center;
  gap: 4rem;
  }
}
.welcome-text {
  background-color: #2222229d;
  padding: 3rem;
  position: absolute;
  left: 20%;
  width: 40%;
  top: 60%;
  transform: translate(0, -50%);
}
.welcome-text:hover {
  outline-offset: 1rem;
  outline: 5px solid #747af4;
}
@media(max-width:793px){
  .welcome-text {
    top: 60%;
    width: 60%;
    left: 20%;
  }
}
@media(max-width:528px){
  .welcome-text {
    top: 60%;
    width: 80%;
    left: 10%;
    
  }
}
@media(max-width:470px){
  .welcome-text {
    top: 70%;
    
  }
}
@media(max-width:284px){
  .welcome-text {
    top: 60%;
    
  }
}
.welcome-text h5 {
  color: rgba(166, 166, 224, 0.911);
  font-weight: 400;
  font-size: 1.8rem;
}
.image-container {
  height: 60%;
  width: 40%;
  margin-top: 3rem;
  border-radius: 50%;
  
}

@media(max-width:891px){
  .image-container {
    height: 40%;
    width: 20%;
  }
}
@media(max-width:748px){
  .image-container {
    margin-top: 0rem;
    margin-right: 5rem;
    margin-bottom: 10rem;
  }
}
@media(max-width:373px){
  .image-container {
    margin-bottom: 13rem;
    margin-right: 12rem;
  }
}
@media(max-width:254px){
  .image-container {
    margin-bottom: 8rem;
    margin-right: 8rem;
    height: 30%;
    width: 15%;
  }
}
.image-container img {
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  
}
.name {
  color: #fff;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.2rem;
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2.8rem;
}
@media(max-width:373px){
  .name {
    font-size: 2rem;
  }
}
@media(max-width:284px){
  .name {
    font-size: 1.4rem;
    
  }
}
.salutation {
  display: block;
  text-align: center;
  margin-bottom: 1.2rem;
}
h5{
  color: aqua;
}
.welcome-text p {
  font-size: 1.6rem;
  color: #ccc;
  font-weight: 400;
  text-align: center;
}
.button-container {
  display: block;
  text-align: center;
  margin-top: 3rem;
  transition: all 0.3s;
  backface-visibility: hidden;
}
.btn-none {
  background-color: white;
}

.btn-none:link,
.btn-none:visited {
  color: #747af4;
  background-color: white;
  font-size: 2rem;
  border-radius: 0.8rem;
  text-decoration: none;
  transition: all 0.3rem solid;
}
@media(max-width:401px){
  .btn-none:link,
  .btn-none:visited {
  font-size: 1.3rem;
 
}

}

.btn-none:hover,
.btn-none:active {
  background-color: rgb(83, 80, 87);
  color: black;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 2px 3px 3px rgb(197, 167, 226);
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 2px 3px 3px rgb(200, 168, 230);
}
.about-container{
  background-color: rgba(0, 0, 0, 0.897);;
}
.portfolio-container,
.form{
  padding: 8rem 10rem;

}
@media(max-width:493px){
  .portfolio-container,
  .form{
    padding: 3rem 2rem;
  
  }
}
.heading-title{
  font-size: 4.8rem;
  font-weight: 700;
  letter-spacing: 4px;
  padding: 1rem;
  display: inline-block;
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right ,aqua,gray,white);
  position: relative;
}
@media(max-width:493px){
  .heading-title{
    font-size: 3rem;
  }
}
@media(max-width:401px){
  .heading-title{
    font-size: 2rem;
  }
}
@media(max-width:352px){
  .heading-title{
    font-size: 1.7rem;
    padding: 1rem 0.5rem;
  }
}
.warning{
  padding-left: 10rem;
}
.heading-title::before{
  content: " ";
  bottom: 0%;
  left: 0%;
  height: 5px;
  width: 25%;
  background-image: linear-gradient(to right,aqua,gray,white);
  position: absolute;
  font-size: 1.2rem;
}
.heading-title::after{
  content: " ";
  top: 0%;
  left: 0%;
  height: 5px;
  width: 80%;
  background-image: linear-gradient(to right,gray,white,aqua);
  position: absolute;
  font-size: 1.2rem;
}
.image-bg{
  background-image: linear-gradient(to right bottom ,rgb(52, 52, 226), gray, white);
  
}
.image-bg::before{
  content: " ";
  position: absolute;
  width: 40%;
  height: 40%;
  background-color: blue;

}
@media(max-width:754px){
  .image-bg::before{
    width: 70%;
    height: 70%;
  }
}
.about-container{
  padding: 10rem;
}
@media(max-width:935px){
  .about-container{
    padding: 5rem;
  }
}
@media(max-width:615px){
  .about-container{
    padding: 2rem;
  }
}
.about{
  display: flex;
  width: 100%;
  gap: 3rem;
  align-items: center;
  justify-content: space-around;
}
@media(max-width:763px){
  .about{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column-reverse;
     gap: 2rem;
     padding-top: 3rem;

  }
}
@media(max-width:590px){
  .about{
    width: 100%;
  }
}
.about-text{
  width: 100%;
}
.about-text p{
  font-size: 1.8rem;
  margin-bottom: 3rem;
  color:white;
}
.text-left{
  text-align: left !important;
}
.about-image {
  width: 35%;
  padding: 1.5rem;
  transition: all 0.3s;
  position: relative;
  border: none;}
  @media(max-width:730px){
    .about-image {
      width: 80%;
    
    }
  }
  @media(max-width:432px){
    .about-image {
      width: 90%;
    
    }
  }
.image-bg{
  width: 90%;
  padding: 3rem;
  transition: all 0.3s;
  position: relative;
  border: none;
}
.about-image:hover::before{
  border: 1rem solid rgb(43, 43, 114);
  width: 100%;
  height: 100%;
}
.about-image::before{
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  padding: 2rem;
  display: block;
  border-left: 1rem solid rgb(44, 44, 104);
  border-top: 1rem solid rgb(44, 44, 104);
}
.about-image::after{
  content: " ";
  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
  padding: 2rem;
  display: block;
  border-right: 1rem solid rgb(44, 44, 104);
  border-bottom: 1rem solid rgb(44, 44, 104);
}
.about-image img {
  width: 100%;
}
.portfolio-container{
  background-color: #222;
  padding-top: 10rem;
}
.card-container{
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  margin-top: 8rem;
}
@media(max-width:944px){
  .card-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
  }
}
@media(max-width:718px){
  .card-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 2rem;
  }
}
.card{
  background-color:rgb(71, 70, 70);
  border-radius: 0.9rem;
  padding: 2rem;
  box-shadow: 1px 3px 3px rgba(255, 255, 255, 0.062);
  transition: all 0.3s;
}
.card:hover {
  background-color: rgba(0, 0, 255, 0.185);
  transform: translate(10px, -10px);
}
.card-container i {
  font-size: 4.8rem;
  font-weight: bold;

  margin-bottom: 2rem;
  color: #eee;
}

.card-container h3 {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: #eee;
}
.card-container p {
  font-size: 1.4rem;
  color: #eee;
  width: 100%;
}

.link-portfolio:link,
.link-portfolio:visited {
  color: #eee;
  text-decoration: none;
  font-size: 1.4rem;
  display: inline-block;
  margin-top: 2rem;
}
.input-field{
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid black;
  outline: none;
  background: transparent;
}
::placeholder{
  position: absolute;
  top: 40%;
  left: 5px;
  transform: translateY(-505);
  font-size: 1.2rem;
  color: black;
  font-weight: 500;
  pointer-events: none;
  transition: .5s;
}
 input:focus~::placeholder,
 input:valid~::placeholder{
  top: -5px;
}
.submit-btn{
  padding: 5%;
  width: 20px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right,black ,white);
  border: 0;
  outline: none;
  border-radius: 30px;
  font-size: 1.4rem;
}
.checkbox{
  margin: 30px 10px 30px 0;
}
.icons{
  position: absolute;
  right: 30px;
  
}
h4{
  color: gray;
  font-size: 12px;
  bottom: 68px;
  position: absolute;
}
#f-login{
  left:50px
}
#f-Register{
  left:450px
}
.skills-container{
  background-color: rgba(0, 0, 0, 0.884);
}
.images-container{
  display: flex;
  margin-top: 8rem;
  justify-content: center;
  gap: 3rem;
}
@media(max-width:944px){
  .images-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
  }
}
@media(max-width:718px){
  .images-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 2rem;
  }
}
.skills-card{
  width: 400px;
  max-height: 400px;
  position: relative;
  overflow: hidden;
}
@media(max-width:944px){
  .skills-card{
    width: 300px;
    max-height: 300px;
  }
}
@media(max-width:944px){
  .skills-card{
    width: 200px;
    max-height: 200px;
  }
}
.skills-card img{
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 12px;
}
.skills-content:hover .skills-content--content {
  display: flex;

}
@keyframes scroll {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
.skills-content {
  border-radius: 12px;
  transition: all 10s;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
}
  .skills-content--content {
    display: flex;
    flex-direction: column;
    height: 100%;
    display: none;
    overflow: hidden;
    align-items: center;
    border-radius: 12px;
    padding: 3rem;
    transition: all 0.8s;
    animation-name: scroll;
    animation-duration: 1s;
    backdrop-filter: blur;
    justify-content: center;
    background-image: linear-gradient(
      to left bottom,
    rgba(0, 0, 0, 0.726),rgba(128, 128, 128, 0.719)
    );
  }
  .skills-content--content h3 {
    color: white;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
  }
.skills-content--content p {
  color: white;
  font-size: 1.6rem;
}
.skills-icon-container {
  background-color: #eee;
  display: block;
  margin-top: 1.5rem;
  padding: 1.5rem;
  border-radius: 50%;
}
.skills-content--content i {
  font-size: 1.6rem;
  cursor: pointer;
}
.conta-contain{
  background-color: #333232;
  padding: 8rem;
}
@media(max-width:828px){
  .conta-contain{
    padding: 4rem;
  }
}
@media(max-width:465px){
  .conta-contain{
    padding: 2rem;
  }
}
.contacts {
  margin-top: 8rem;
  display: flex;
  justify-content: center;
  width: 100%;
}
@media(max-width:922px){
  .contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
}
@media(max-width:520px){
    .conta-contain .warning .heading-title{
       font-size: 3rem;
    }
}
@media(max-width:388px){
  .conta-contain .warning .heading-title{
     font-size: 2rem;
  }
}
.contact-left {
  background-image: linear-gradient(to right top, black,white);
  padding: 3rem;
  width: 40%;
}
@media(max-width:922px){
  .contact-left {
    width: 70%;
    padding: 2rem;
  }
}
@media(max-width:774px){
  .contact-left {
    width: 85%;
    padding: 1rem;
  }
}
@media(max-width:635px){
  .contact-left {
    width: 100%;
  }
}
.contact-left h3 {
  font-size: 2.4rem;
}
.contact-left .social-media .media-icons .media-chat h3{
  width: 100%;
}
@media(max-width:568px){
  .contact-left .social-media .media-icons .media-chat h3{
       font-size: 1.8rem;
  }
}
@media(max-width:568px){
  .contact-left .social-media .media-icons .media-chat h3{
       font-size: 1.8rem;
       width: 40%;
  }
}

@media(max-width:568px){
  .contact-left .social-media .media-icons .menu{
     font-size: 2rem;
  }
}
@media(max-width:568px){
  .contact-left .social-media .media-icons .media-chat p{
       font-size: 1.5rem;
       width: 100%;

  }
}
@media(max-width:391px){
  .contact-left .social-media .media-icons .media-chat p,.contact-left .social-media .media-icons .media-chat p span{
       font-size: 1rem;
       width: 100%;

  }
}
.contact-left p {
  font-size: 1.6rem;
}

.text-welcome {
  margin-top: 2rem;
  font-weight: 666;
}
.contact-left span {
  display: block;
}
.contact-right {
  background-image: linear-gradient(to left bottom, white,black);
  padding: 3rem;
  width: 45%;
}
@media(max-width:922px){
  .contact-right {
    width: 70%;
  }
}
@media(max-width:774px){
  .contact-right {
    width: 85%;
  }
}
@media(max-width:635px){
  .contact-right {
    width: 100%;
  }
}
.contact-right h3 {
  font-size: 2.4rem;
  text-align: right;
  font-weight: 500;
}
@media(max-width:417px){
  .contact-right h3 {
    font-size: 1.8rem;
    text-align: right;
    font-weight: 500;
  }
}
.social-media {
  margin-top: 2rem;
}
.media-icons {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 2rem;
}
@media(max-width:568px){
  .media-icons {
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }
}
@media(max-width:374px){
  .media-icons {
    display: flex;
    justify-content:left;
    flex-wrap: wrap;
    gap: 10px;
  }
}
.media-icons i {
  font-size: 1.8rem;
}
.media-icons h3 {
  font-size: 2.1rem;
  margin-right: 25rem;
}
.media-icons p {
  font-size: 2rem;
  font-weight: 400;
}
.media-icons span {
  display: block;
  color: rgb(7, 157, 157);
}

.social-media-icons-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.social-media-icons-links {
  font-size: 1.8rem;
}
.form-page {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
  justify-content: center;
}
input,
textarea {
  padding: 1rem;
}
.btn-red:link,
.btn-red:visited {
  background-color: white;
  color: blue;
  font-size: 1.6rem;
  transition: all 0.3s;
}
.btn-red:hover,
.btn-red:active {
  background-color: rgba(133, 124, 124, 0.24);
}
.footer-container {
  background-color: #222;
  padding: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
@media(max-width:891px){
  .footer-container {
     display: flex;
      flex-direction: column-reverse;
      gap: 2rem;
      justify-content: center;
      align-items: center;
      
  }
}
.footer-container p {
  font-size: 1.6rem;
}
.links-media-fixed {
  position: fixed;
  display: flex;
  color: #eee;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  bottom: 0;
  text-align: center;
  gap: 2rem;
  left: 2%;
}
@media(max-width:528px){
  .links-media-fixed {
    display: none;
  }
}
.git {
  font-size: 1.8rem;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s;
}
.git:hover {
  color: rgb(77, 77, 196);
  transform: translate(3px, -5px);
}
.fixs{
  color: #fff;
}
.links-media-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
@media(max-width:486px){
  .links-media-footer a{
    display: none;
  }
}
@media(max-width:486px){
  .links-media-footer{
      display: flex;
      flex-wrap: wrap;
  }
}
.links-media-fixed::after,
.email-link-fixed::after {
  content: "";
  display: flex;
  align-self: center;
  justify-self: center;
  height: 150px;
  width: 3px;

  background-color: #ccc;
}
.email-link-fixed {
  text-align: center;
  right: 2%;
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  bottom: 0;
  color: #ccc;
}
@media(max-width:528px){
  .email-link-fixed {
    display: none;
  }
}

.email-link-fixed p {
  -webkit-writing-mode: vertical-rl;

  font-size: 1.6rem;
  color: aqua;
  font-weight: bold;
}
.menu-icon {
  display: none;
}
.menu-icon i {
  font-size: 3rem;
}
.blog-container{
  background-color: #222;
  height: 40%;
  padding: 8rem;
  
}
@media(max-width:937px){
  .blog-container{
    height: 80%
  }
}
@media(max-width:556px){
  .blog-container{
    padding: 4rem;
  }
}
@media(max-width:439px){
  .blog-container{
    height: 95%;
    padding: 2rem;
  }
}
.blog-cards{
  background-color: #ccc;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 5rem;
  width: 100%;
}
@media(max-width:937px){
  .blog-cards{
    display: flex;
    flex-wrap: wrap;
    padding: 0.4rem;
  }
}
.blog-cards img{
  width: 60%;
  border-radius: 2px;
  transition: all.4s;
}
.blog-cards img:hover{
  width: 85%;
  cursor: pointer;
}
.blog-cards h2{
  padding: 1rem;
  font-size: 2rem;
  transition: all.4s;
}
.blog-cards h2:hover{
  color: blue;
  font-size:1.5rem ;
  cursor: pointer;
}
.blog-cards h3{
  padding: .5rem;
  font-size:1.5rem;
  transition: all .4s;
}
.blog-cards h3:hover{
  color: blue;
  font-size:1.6rem ;
  font-size: 1.8rem;
  cursor: pointer;
}
.blog-cards p{
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  transition: .4s;

}
.blog-cards p:hover{
  color: blue;
  cursor: pointer;
}
.blog-cards a{
  padding: 1rem;
  font-weight: 800;
  font-size: 1.4rem;
  color: black;
  text-decoration: none;
  transition: all.4s;
}
.blog-cards a:hover{
  color: blue;
  font-weight: 800;
  font-size: 1.8rem;
  cursor: pointer;

}
.blog-card-one{
  padding: 2rem;
  text-align: center;
  border-radius: 4px;
  background-color:white;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.171);
}
.footer{
  color: aqua;
  font-weight: bold;
  text-align: center;
}

/* -------------------------------------------------------------------------------------- */
.skills-container{
   padding:8rem;
}
@media(max-width:908px){
  .skills-container{
     padding: 4rem ;
  }
}
@media(max-width:490px){
  .skills-container{
     padding: 2rem ;
  }
}
.poltifo{
  position: relative;
  width: 100%;
  padding-top: 30px;
}

.poltifo  .image{
  width: 50%;
}
@media(max-width:557px){
  .poltifo  .image{
    width: 100%;
  }
}
.poltifo .image img{
  width: 100%;
}
.polt-content{
  background-image: linear-gradient(to right, rgba(91, 88, 88, 0.451),rgba(37, 37, 37, 0.837));
  position: absolute;
  right: 0;
  top: 8%;
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: right;
  flex-direction: column;
  align-items:flex-end;
  padding: 20px;
  border-top-right-radius: 20px;
  gap: 10px;
}
@media(max-width:1149px){
  .polt-content{
    height: 100%;
    gap: 5px;
    
    justify-content: center;
  }
}
.polt-content h5{
   font-size: 20px;
}
@media(max-width:557px){
  .polt-content h5{
    display: none;
 }
}
.polt-content h6{
  color: #fff;
  text-align: right;
  font-size: 25px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}
@media(max-width:1097px){
  .polt-content h6{
     font-size: 18px;
  }
}

.polt-content p{
   width: 60%;
   color: #fff;
   background-color: rgba(37, 37, 37, 0.837);
   font-size: 18px;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   padding-left: 10px;
}
@media(max-width:1149px){
  .polt-content p{
     font-size: 12px;
     width: 100%;
  }
}
@media(max-width:908px){
  .polt-content p{
    display: none;
  }
}

.polt-content .link-project{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.polt-content .link-project a{
  color: #fff;
  font-size: 40px;
}
.polt-content .link-project a .pollink{
   font-size: 40px;
}
@media(max-width:1149px){
  .polt-content .link-project a .pollink{
    font-size: 20px;
 }
}
@media(max-width:1149px){
  .polt-content .link-project a .pollink{
    font-size: 15px;
  }
}

/* ----------------------------------------------------------------------- */
.triangle{
  padding: 2rem 2rem;
}
.duoble,.oners{
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0.6rem;
}
@media(max-width:830px){
  .duoble,.oners{
    display: flex;
    justify-content: center;
   flex-wrap: wrap;
  }
}
.duoble h5 ,.oners h5{
  font-size: 3rem;
  background-color: rgb(77, 77, 196);
  color: #fff;
  border-radius: 1rem;
  padding: 0.5rem 3rem;
}
@media(max-width:830px){
  .duoble h5 ,.oners h5{
    font-size: 1.6rem;
    padding: 0.3rem 2rem;
  }
}
@media(max-width:604px){
  .duoble h5 ,.oners h5{
    font-size: 1rem;
    padding: 0.3rem 2rem;
  }
}