
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.formdisign{
  background-color: white;
  width: 50%;
  border-radius: 1.4rem;
  padding: 20px;
}
@media(max-width:1096px){
  .formdisign{
    width: 40%;
  }
}
@media(max-width:828px){
  .formdisign{
    width: 50%;
  }
}
@media(max-width:657px){
  .formdisign{
    width: 60%;
  }
}
@media(max-width:549px){
  .formdisign{
    width: 80%;
  }
}
@media(max-width:414px){
  .formdisign{
    width: 90%;
  }
}

.App-header {
  background-color: #ccc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  gap: 3rem;
}

.App-link {
  color: rgb(240, 20, 122);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loginheading{
  display: flex;
  justify-content: center;
  align-items: center;
}
h2{
  color: rgb(240, 20, 122);
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem 3rem;
  border-bottom:1px solid #5151514d;
}
.activeform{
  color: rgb(30,64,135);
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem 3rem;
  border-bottom:2px solid rgb(30,64,135);
}
